= form_for @stack do |f|
  - if @stack.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stack.errors.count, "error")} prohibited this stack from being saved:"
      %ul
        - @stack.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :index
        = f.number_field :index, class: 'form-control'
  %h2= "Выберите зал"
  .row
    .col-md-6
      .form-group
        = f.label :hall_id, "Зал"
        = f.select :hall_id, Hall.all.collect{|t| [t.full_name, t.id]}, {:prompt => ""}, class: 'form-control'
  %h2= "Или создайте новый"
  = f.fields_for (:hall) do |df| 
    .field
      = df.hidden_field :id
    .row
      .col-md-6
        .form-group
          = df.label :full_name, "Полное название"
          = df.text_field :full_name, class: 'form-control'
      .col-md-6
        .form-group
          = df.label :short_name, "Краткое название"
          = df.text_field :short_name, class: 'form-control'
  
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
