=breadcrumb_tag do
  %li.active
    = @stack.index
  %li
    = link_to 'Стелажи', stacks_path
  %li
    Библиотека

%h1= @stack.index

%dl
  %dt= Stack.human_attribute_name(:index)
  %dd= @stack.index
  %dt= Stack.human_attribute_name(:hall_id)
  %dd= @stack.hall.full_name


