%p#notice= notice

%p
  %b Author index:
  = @author.author_index
%p
  %b First name:
  = @author.first_name
%p
  %b Second name:
  = @author.second_name
%p
  %b Last name:
  = @author.last_name

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
