= form_for @book do |f|
  = error_messages_for @book
  .row
    .col-md-6
      .form-group
        = f.label :isbn
        = f.number_field :isbn, class: 'form-control'
        = f.error_messages_for(:isbn)
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
  .row
    .col-md-6
      .form-group
        = f.label :part
        = f.number_field :part, class: 'form-control'
        = f.error_messages_for(:part)
    .col-md-6
      .form-group
        = f.label :imprint_year
        = f.number_field :imprint_year, class: 'form-control'
        = f.error_messages_for(:mprint_year)
  .row
    .col-md-6
      .form-group
        = f.label :number_of_shelf
        = f.number_field :number_of_shelf, class: 'form-control'
        = f.error_messages_for(:number_of_shelf)
    .col-md-6
      .form-group
        = f.label :number_of_copies
        = f.number_field :number_of_copies, class: 'form-control'
        = f.error_messages_for(:number_of_copies)
  .row
    .col-md-6
      .form-group
        = f.label :stack_id
        = f.select :stack_id, Stack.all.collect{|t| [t.index, t.id]}, {:prompt => ""}, class: 'form-control'
        = f.error_messages_for(:stack)
  %h2 Выберите зарегистрированных авторов
  %h3 (для выбора нескольких зажмите ctrl)
  .field
    = f.select :authors, Author.all.collect{|t| [t.author_index.to_s + " " + t.last_name + " " + t.first_name + " " + t.second_name, t.id]}, {:prompt => ""}, {:multiple => true, class: 'form-control'}
  %h2 Введите данные для незарегистрированных авторов
  - i = 0
  .row.bottom20
    .col-md-12
      = link_to_add_author(f, f.object)
  .row
    = f.fields_for :authors do |df|
      .field
        = df.hidden_field :id
        = render('books/author_book_form', df: df, i: i + 1)
        -i = i+1
  %br 
  - if is_admin?
    .form-actions.bottom20
      = f.submit nil, class: 'btn btn-primary'
  - else
    %h3 Вносить изменения(регистрировать новые) может только администратор
