= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :isbn
    = f.number_field :isbn
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :part
    = f.number_field :part
  .field
    = f.label :imprint_year
    = f.number_field :imprint_year
  .field
    = f.label :number_of_shelf
    = f.number_field :number_of_shelf
  .field
    = f.label :stack_id
    = f.text_field :stack_id
  .field
    = f.label :number_of_copies
    = f.number_field :number_of_copies
  

  %h2 Авторы
  - i = 1 
  = f.fields_for :authors do |df|
    %h2 Автор № #{i}
    .field
      = df.hidden_field :id
    .field
      = df.label :second_name 
      = df.text_area :second_name
    .field
      = df.label :first_name
      = df.text_area :first_name
    .field
      = df.label :last_name
      = df.text_area :last_name
    .field
      = df.label :author_index
      = df.text_area :author_index
    - if @book.authors.size >  i 
      .field
        = df.label 'Отвязать'
        = df.check_box :_destroy
    - i += 1

  .actions
    = f.submit 'Save'

