= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :isbn
    = f.number_field :isbn
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :part
    = f.number_field :part
  .field
    = f.label :imprint_year
    = f.number_field :imprint_year
  .field
    = f.label :number_of_shelf
    = f.number_field :number_of_shelf
  .field
    = f.label :stack_id
    = f.text_field :stack_id
  .field
    = f.label :number_of_copies
    = f.number_field :number_of_copies
  .actions
    = f.submit 'Save'
